.no-courses-found {
    font-size: 20px;
    text-align: center;
    padding: 20px;    
}

.lernopus-see-all{
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #40a9ff !important;
    box-sizing: border-box !important;
    line-height: 21px !important;
    margin-right: 4px !important;
}

@media (max-width: 768px) {
    .scroll-menu-arrow {
        padding: 4px;
        cursor: pointer;
        font-size: x-large;
        display: none;
    }

    .course-accordion{
        margin: 4px;
    }
}

@media (min-width: 769px) {
    .scroll-menu-arrow {
        padding: 4px;
        cursor: pointer;
        font-size: x-large;
        display: block;
    }

    .course-accordion{
        margin: 4px;
    }
}

.scroll-menu-arrow--disabled {
    visibility: hidden;
}